@page
@model NameGame.Pages.MatModeModel
@{
    ViewData["Title"] = "Mat(t) Mode";
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/keyShortcuts.min.js"></script>
<script src="~/js/sessionStart.min.js"></script>
<script>
    function guess(index) {
        if ($('#option' + index + 'Text').text() !== '') {
            return;
        }
        else {
            if (index == @Model.MatQuestion.CorrectIndex) {
                $('#option' + index + 'Text').html('@Model.MatQuestion.CorrectProfile.FullName');
                $('#status' + index).attr('src', '/images/correct.png');
                sessionStorage.numCorrect++;
            }
            else {
                //Can't pass javascript variables to C# injection so a switch is needed to determine position to show name.
                switch (index) {
                    case 0:
                        $('#option' + index + 'Text').html('@Model.MatQuestion.DisplayedProfiles[0].FullName');
                        break;
                    case 1:
                        $('#option' + index + 'Text').html('@Model.MatQuestion.DisplayedProfiles[1].FullName');
                        break;
                    case 2:
                        $('#option' + index + 'Text').html('@Model.MatQuestion.DisplayedProfiles[2].FullName');
                        break;
                    case 3:
                        $('#option' + index + 'Text').html('@Model.MatQuestion.DisplayedProfiles[3].FullName');
                        break;
                    case 4:
                        $('#option' + index + 'Text').html('@Model.MatQuestion.DisplayedProfiles[4].FullName');
                        break;
                }
                $('#status' + index).attr('src', '/images/incorrect.png');
                sessionStorage.numCorrect = 0;
            }
            $('#streak').html('Streak = ' + sessionStorage.numCorrect);
        }
        
    }
</script>

<h2>Name Game - Mat(t) Mode</h2>
<p id="streak"></p>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 id="matchThisName" style="text-align:center;">@Model.MatQuestion.CorrectProfile.FullName </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-1" />
        @for (int i = 0; i < Model.MatQuestion.DisplayedProfiles.Length; i++)
        {
            <div class="col-sm-2">
            <h5 style="text-align:center;">@(i+1)</h5>
            <img src="@Model.MatQuestion.DisplayedProfiles[i].Headshot.Url" id="option@(i)" onclick="guess(@i)" class="img-responsive" />
            <p id="option@(i)Text"></p>
            <img src="" id="status@(i)" class="img-responsive" />
        </div>
        }
    </div>
</div>

