@page
@model NameGame.Pages.StandardModel
@* Same Model is used for Reverse and Standard Because no filtering is being done. How it is displayed is all that changes. *@
@{
    ViewData["Title"] = "Reverse Mode";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/keyShortcuts.min.js"></script>
<script src="~/js/sessionStart.min.js"></script>
<script>
    function guess(index) {
        if (index == @Model.StandardQuestion.CorrectIndex) {
            $('#correctName').html('@Model.StandardQuestion.CorrectProfile.FullName');
            $('#status' + index).attr('src', '/images/correct.png');
            sessionStorage.numCorrect++;
        }
        else {
            switch (index) {
                case 0:
                    $('#profile' + index).attr('src', '@Model.StandardQuestion.DisplayedProfiles[0].Headshot.Url');
                    break;
                case 1:
                    $('#profile' + index).attr('src', '@Model.StandardQuestion.DisplayedProfiles[1].Headshot.Url');
                    break;
                case 2:
                    $('#profile' + index).attr('src', '@Model.StandardQuestion.DisplayedProfiles[2].Headshot.Url');
                    break;
                case 3:
                    $('#profile' + index).attr('src', '@Model.StandardQuestion.DisplayedProfiles[3].Headshot.Url');
                    break;
                case 4:
                    $('#profile' + index).attr('src', '@Model.StandardQuestion.DisplayedProfiles[4].Headshot.Url');
                    break;
            }
            $('#status' + index).attr('src', '/images/incorrect.png');
            sessionStorage.numCorrect = 0;
        }
        $('#streak').html('Streak = ' + sessionStorage.numCorrect);
    }
</script>

<h2>Name Game - Reverse</h2>
<p id="streak"></p>

<div class="container">
    <div class="row">
        <div class="col-md-12 center-block">
            <h3 id="correctName" class="text-center"></h3>
            <img src="@Model.StandardQuestion.CorrectProfile.Headshot.Url" id="ProfilePicToMatch" class="img-responsive center-block" style="max-height:350px;max-width:350px;"/>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-offset-1" />
        @for (int i = 0; i < Model.StandardQuestion.DisplayedProfiles.Length; i++)
        {
            <div class="col-sm-2">
                <h5 style="text-align:center;">@(i+1)</h5>
                <button class="btn btn-primary center-block" onclick="guess(@i)" id="option0">@Model.StandardQuestion.DisplayedProfiles[i].FullName</button>
                <img src="" id="profile@(i)" class="img-responsive center-block" />
                <img src="" id="status@(i)" class="img-responsive center-block" />
            </div>
        }
    </div>
</div>

