@page
@model NameGame.Pages.TeamModeModel
@{
    ViewData["Title"] = "Team Mode";
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/keyShortcuts.min.js"></script>
<script>
    function guess(index) {
        if (index == @Model.TeamQuestion.CorrectIndex) {
            document.getElementById("option" + index + "Text").innerHTML = "@Model.TeamQuestion.correctProfile.FullName";
            document.getElementById("jobTitle" + index).innerHTML = "@Model.TeamQuestion.correctProfile.JobTitle";
            document.getElementById("status" + index).src = "/images/correct.png";
        }
        else {
            //Can't pass javascript variables to C# injection so a switch is needed to determine position to show name.
            switch (index) {
                case 0:
                    document.getElementById("option" + index + "Text").innerHTML = "@Model.TeamQuestion.DisplayedProfiles[0].FullName";
                    document.getElementById("jobTitle" + index).innerHTML = "@Model.TeamQuestion.DisplayedProfiles[0].JobTitle";
                    document.getElementById("status" + index).src = "/images/incorrect.png";
                    break;
                case 1:
                    document.getElementById("option" + index + "Text").innerHTML = "@Model.TeamQuestion.DisplayedProfiles[1].FullName";
                    document.getElementById("jobTitle" + index).innerHTML = "@Model.TeamQuestion.DisplayedProfiles[1].JobTitle";
                    document.getElementById("status" + index).src = "/images/incorrect.png";
                    break;
                case 2:
                    document.getElementById("option" + index + "Text").innerHTML = "@Model.TeamQuestion.DisplayedProfiles[2].FullName";
                    document.getElementById("jobTitle" + index).innerHTML = "@Model.TeamQuestion.DisplayedProfiles[2].JobTitle";
                    document.getElementById("status" + index).src = "/images/incorrect.png";
                    break;
                case 3:
                    document.getElementById("option" + index + "Text").innerHTML = "@Model.TeamQuestion.DisplayedProfiles[3].FullName";
                    document.getElementById("jobTitle" + index).innerHTML = "@Model.TeamQuestion.DisplayedProfiles[3].JobTitle";
                    document.getElementById("status" + index).src = "/images/incorrect.png";
                    break;
                case 4:
                    document.getElementById("option" + index + "Text").innerHTML = "@Model.TeamQuestion.DisplayedProfiles[4].FullName";
                    document.getElementById("jobTitle" + index).innerHTML = "@Model.TeamQuestion.DisplayedProfiles[4].JobTitle";
                    document.getElementById("status" + index).src = "/images/incorrect.png";
                    break;
            }
        }
    }
</script>

<h2>Name Game - Team Mode</h2>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 id="matchThisName" style="text-align:center;">@Model.TeamQuestion.correctProfile.FullName</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-1" />
        <div class="col-sm-2">
            <h5 style="text-align:center;">1</h5>
            <img src="@Model.TeamQuestion.DisplayedProfiles[0].Headshot.Url" id="option0" onclick="guess(0)" class="img-responsive" />
            <p id="option0Text"></p>
            <p id="jobTitle0"></p>
            <img src="" id="status0" class="img-responsive" />
        </div>
        <div class="col-sm-2">
            <h5 style="text-align:center;">2</h5>
            <img src="@Model.TeamQuestion.DisplayedProfiles[1].Headshot.Url" id="option1" onclick="guess(1)" class="img-responsive" />
            <p id="option1Text"></p>
            <p id="jobTitle1"></p>
            <img src="" id="status1" class="img-responsive" />
        </div>
        <div class="col-sm-2">
            <h5 style="text-align:center;">3</h5>
            <img src="@Model.TeamQuestion.DisplayedProfiles[2].Headshot.Url" id="option2" onclick="guess(2)" class="img-responsive" />
            <p id="option2Text"></p>
            <p id="jobTitle2"></p>
            <img src="" id="status2" class="img-responsive" />
        </div>
        <div class="col-sm-2">
            <h5 style="text-align:center;">4</h5>
            <img src="@Model.TeamQuestion.DisplayedProfiles[3].Headshot.Url" id="option3" onclick="guess(3)" class="img-responsive" />
            <p id="option3Text"></p>
            <p id="jobTitle3"></p>
            <img src="" id="status3" class="img-responsive" />
        </div>
        <div class="col-sm-2">
            <h5 style="text-align:center;">5</h5>
            <img src="@Model.TeamQuestion.DisplayedProfiles[4].Headshot.Url" id="option4" onclick="guess(4)" class="img-responsive" />
            <p id="option4Text"></p>
            <p id="jobTitle4"></p>
            <img src="" id="status4" class="img-responsive" />
        </div>
    </div>
</div>

